---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Card from '../components/Card.astro';
import TextCenter from '../components/TextCenter.astro';
import List from '../components/List.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero image={"/tree-svgrepo-com 1.svg"} altText="Tree logo" body="big text" buttonText="Learn More" buttonLink="/about"/>
		<Card orientation={false} header={"HELLO"} body={"twuioesjgseogskdlgsdkmfsdiofjmsdlkf"} image={"/wineimage.jpg"} altText={"Store Interior"} buttonText={"See our items"} buttonLink={"/items"}/>
		<TextCenter header={"Header"} body={"body this is my body"}/>
		<List header={"Head"} body={"Sub"} list={["Hello","Friend"]}/>
	</main>
</Layout>

<style>
</style>
