---
import Layout from '../layouts/Layout.astro';
import ContentMapper from '../components/ContentMapper.astro'
import { getDirectusClient } from '../utils/get-directus-client'
const directus = await getDirectusClient()
const response = await directus.items("Home").readByQuery({
    limit: -1,
    filter: {
      status: {
        _eq: "published",
      },
    },
});

---

<Layout title="Home | Axis Natural Foods">
	<main>
		<ContentMapper content={response.data} />
	</main>
</Layout>

<style>
</style>
