<footer class="footer">
  <form>
    <button formaction="https://www.facebook.com/AxisNaturalFoods/">
    <img
      src="/facebookLogo.png"
      alt="Facebook Icon"
      width="58"
      height="58"
    />
  </button>
</form>
<p class="text">
  Content copyright 2021. Axis Natural Food, Ltd. All rights reserved.
</p>
</footer>
<style>

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: auto;
    text-align: center;
    background-color: #574328;
    margin-top: 64px;
}

button {
    padding: 24px;
    cursor: pointer;
}

.text {
    color: #F2F2F2;
    padding: 24px;
    padding-top: 0px;
}
</style>
